<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250511266192-til5oscvlmj7bhs0g1g95kraeadvgt21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250511266192-til5oscvlmj7bhs0g1g95kraeadvgt21</string>
	<key>API_KEY</key>
	<string>AIzaSyACLnap5WXYkbmm9sTIHDGY1NC9dQVAhVA</string>
	<key>GCM_SENDER_ID</key>
	<string>250511266192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jpv.firebase-upload-app</string>
	<key>PROJECT_ID</key>
	<string>fir-uploadapp-7bab0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-uploadapp-7bab0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250511266192:ios:62217b7dac4cc3affda315</string>
</dict>
</plist>